*.java.hsp
*.sonarj
*.sw*
.DS_Store
.settings
.springBeans
bin
ivy-cache
*.log
spring-test/test-output/
.gradle
argfile*
pom.xml

classes/
/build
target/

.classpath

# IDE Files
.project
.metals
.vscode

*.iml
*.ipr
*.iws
.idea
out
test-output
.gradletasknamecache
